.subtitle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: -0.04em;
    margin: 0;
}