.field__input {
    all: unset;
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
    color: #000;
    font-size: 22px;
    line-height: 150%;
}

.field__input::placeholder {
    color: #000;
}